/*
@author: Jake Rego;
*/
/* === VARIABLES === */
/* ================= */
.container {
  background-color: #262626;
  width: 100%;
}

/* container */
.nav-wrap {
  position: fixed;
  width: 100%;
  background: black;
  display: block;
  box-shadow: 2px 2px 10px;
}

.nav-wrap:after {
  clear: both;
  content: "";
  display: table;
}

/******** FLEX BOX NAV *************/
.navigation {
  z-index: 100;
  list-style: none;
  margin: 0;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex: 2 0 0;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0;
          flex: 2 0 0;
  float: left;
  /** Tablet **/
  /** Phones **/
}
@media all and (max-width: 800px) {
  .navigation {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media all and (max-width: 505px) {
  .navigation {
    display: none;
  }
}

.navigation--right {
  z-index: 100;
  list-style: none;
  margin: 0;
  font-size: 1.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex: 1 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  float: right;
  /** Phones **/
}
@media all and (max-width: 505px) {
  .navigation--right {
    display: none;
  }
}

.navigation a,
.navigation--right a {
  text-decoration: none;
  display: block;
  padding: .5rem 1rem .5rem 1rem;
  color: white;
  font-family: 'Pacifico', cursive;
}

.navigation a:hover,
.navigation--right a:hover {
  background: #333333;
}

/** Phones **/
@media all and (max-width: 505px) {
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
h1, h4 {
  padding: 0px;
  margin: 0px;
}

.header {
  text-align: center;
  background: url("../images/laptop-full.jpg") #000;
  background-size: cover;
  background-position: center;
  height: 425px;
}
.header h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  padding: 5% 0px 0px 0px;
  z-index: 1;
  text-align: center;
}
.header h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}
.header p {
  color: white;
  padding: 10px 10%;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

@media all and (max-width: 800px) {
  .header {
    background: url("../images/laptop-phone-med.jpg") !important;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-top: 4%;
  }
  .header h1 {
    font-size: 3.5rem;
  }
  .header h4 {
    font-size: 1rem;
  }
}
/** Phones **/
@media all and (max-width: 505px) {
  .header {
    background: url("../images/desk.jpg") !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
  }
  .header h1 {
    font-size: 2.5rem;
    padding: 0px;
  }
}
.tiles {
  position: relative;
  padding: 5% 0px 5% 0px;
  background-color: #242424;
  color: white;
  width: 100%;
  height: auto;
}
.tiles h2 {
  margin: 0px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.tiles--list {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.tiles--item {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 3px solid coral;
  border-radius: 3px;
  background-color: coral;
  width: 100px;
  text-align: center;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  background-color: #242424;
}

.clearfix:after {
  clear: both;
  background-color: #242424;
}

.experience:before {
  content: "";
  background-color: #242424;
}

.experience {
  padding: 5% 5% 5% 5%;
  background-color: #262626;
  color: white;
}
.experience h2 {
  margin: 0px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}
.experience h3 {
  text-align: center;
  padding-bottom: 5px;
}
.experience h5 {
  text-align: center;
}

.experience--item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.experience--item p {
  padding: 10px 10%;
  text-align: justify;
}

.portfolio {
  position: relative;
  padding: 5% 10% 5% 10%;
  background-color: #292929;
  color: white;
}
.portfolio h2 {
  margin: 0px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.portfolio--list {
  margin-right: auto;
  margin-left: auto;
}

.portfolio--item {
  float: left;
  margin-left: 0;
  width: 200px;
  height: 200px;
  border: 1px dotted blue;
}

.contact {
  padding: 0px;
  background-color: #2b2b2b;
  color: white;
}

.sass-icon {
  font-size: 14px;
  font-family: 'Mr De Haviland', cursive;
  display: inline-block;
  padding-right: 5px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  height: auto;
}
footer p {
  font-family: 'Lobster', cursive;
  text-align: right;
  background-color: #333333;
  color: white;
}
footer .footer-icons {
  text-align: center;
  font-size: 1.5rem;
}
